<broad-header></broad-header>
<section class="section-software">
    <div id="some-wrapper">
        <h1 id="line-1">Premium Electric Vehicles</h1>
        <p id="line-2" class="alt-link alt-link--fancy">Learn about the Software 8.0 update</p>

        <div id="buttons">
            <a href="#" class="button">
                ORDER YOURS
            </a>

            <a href="#" class="button">
                NEW INVENTORY
            </a>

            <a href="#" class="button">
                TEST DRIVE
            </a>
        </div>
    </div>

</section>
<div class="video-container">
    <img src="./assets/img/tesla_home.jpg" class="home-img" alt=""/>

</div>
<cars-footer class="bottoms" id="landing_foot"></cars-footer>
