<section animation class="car_container">

    <fixed-header></fixed-header>

    <div class="top_shop">
        <div class="main_graphic">
            <div class="main_graphic_container">
                <div class="main_graphic_nav">
                    <h1>Model S</h1>
                    <ul class="hover">
                        <li>
                            <a>Test Drive</a>
                        </li>
                        <li>
                            <a ui-sref="customize">Custom Order</a>
                        </li>
                        <li>
                            <a>New Inventory</a>
                        </li>
                        <li>
                            <a>Pre-Owned</a>
                        </li>
                        <li>
                            <a>Get Updates</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <nav class="model-footer">
        <section class="model-footer-container">

            <h1 class="model-footer-name">Model S</h1>
            <div class="model-footer-options">
                <button type="button" id="color-red-button" class="model-footer-button-primary" ui-sref="customize">ORDER</button>
                <button type="button" class="model-footer-button-secondary">INVENTORY</button>
                <button type="button" class="model-footer-button-secondary">TEST DRIVE</button>
            </div>
        </section>
    </nav>
    <div class="container">
        <div class="container_intro">
            <h1>Performance and safety refined</h1>
            <br>
            <br>
            <p>Model S is designed from the ground up to be the safest, most exhilarating sedan on the road. With unparalleled performance delivered through Tesla's unique, all-electric powertrain, Model S accelerates from 0 to 60 mph in as little as 2.8
                seconds. Model S comes with Autopilot capabilities designed to make your highway driving not only safer, but stress free.</p>
        </div>
    </div>

    <div class="features">
        <div class="adaptive_lighting">
            <div class="feature lighting"></div>
            <h4>Adaptive Lighting
            </h4>
            <p>Model S now features full LED adaptive headlamps. Besides enhancing the already great styling, they also boost safety: 14 three-position LED dynamic turning lights improve visibility at night, especially on winding roads.</p>
        </div>

        <div class="bio_defense">
            <div class="feature hepa"></div>
            <h4>Bio-Weapon Defense Mode</h4>
            <p>Model S now features a Medical grade HEPA air filtration system, which removes at least 99.97% of particulate exhaust pollution and effectively all allergens, bacteria and other contaminants from cabin air. The bioweapon defense mode creates
                positive pressure inside the cabin to protect occupants.</p>
        </div>

    </div>

</section>
<section id="interior" class="section-container section-interior">
    <div class="section-alternate">
        <div class="container">
            <h1 class="section-title section-title--hed">Built around the driver</h1>
            <p class="section-description section-description--dek">Model&nbsp;S is a driver's car. The cabin combines meticulous noise engineering with Tesla's uniquely quiet powertrain to obtain the sound dynamics of a recording studio. The gem of the interior
                is the 17 inch touchscreen, which is angled toward the driver and includes both day and night modes for better visibility without distraction. It puts rich content at your fingertips and provides mobile connectivity so you can easily find your
                destination, favorite song or a new restaurant.</p>
        </div>
    </div>
    <img src="./assets/img/models/model-s-interior-with-next-generation-leather-seats.jpg" alt="" class="slide-image">
</section>
<section id="interior-features" class="section-container section-interior--features">
    <div class="container">
        <div class="column">
            <h2 class="section-title section-title--hed">The touchscreen</h2>
            <p class="section-description section-description--dek">The Model&nbsp;S 17 inch touchscreen controls most of the car's functions. Opening the all glass panoramic roof, customizing the automatic climate control, and changing the radio station all
                happen with a swipe or a touch. The touchscreen, digital instrument cluster, and steering wheel controls seamlessly integrate media, navigation, communications, cabin controls and vehicle data.</p>
            <aside class="section-media">
                <figure class="content-media">
                    <iframe src="https://player.vimeo.com/video/155718467?color=ff0000&amp;title=0&amp;byline=0&amp;portrait=0&amp;player_id=155718467" height="100%" width="100%" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                    <figcaption class="media-caption">
                        <p>
                            <strong>A more useful driving experience</strong>
                            Cutting edge technology enhances Simon's driving experience.
                        </p>
                    </figcaption>
                </figure>
            </aside>
        </div>
        <div class="column">
            <ul class="interior-features-list">
                <li class="interior-feature">
                    <strong class="feature-title">Media</strong>
                    <span class="feature-description">AM/FM/HD radio, online radio, on-demand Internet radio, Bluetooth®, and USB audio devices</span>
                </li>
                <li class="interior-feature">
                    <strong class="feature-title">Controls</strong>
                    <span class="feature-description">Driving personalization, climate controls, and cabin controls</span>
                </li>
                <li class="interior-feature">
                    <strong class="feature-title">Camera</strong>
                    <span class="feature-description">High definition backup camera, optimized for visibility and safety</span>
                </li>
                <li class="interior-feature">
                    <strong class="feature-title">Calendar</strong>
                    <span class="feature-description">Calendar synchronization for daily schedule and tap to navigate</span>
                </li>
                <li class="interior-feature">
                    <strong class="feature-title">Map</strong>
                    <span class="feature-description">Simple, intuitive Google Maps™ with real time traffic information</span>
                </li>
                <li class="interior-feature">
                    <strong class="feature-title">Navigation</strong>
                    <span class="feature-description">Smart routing that adjusts for real time traffic conditions</span>
                </li>
                <li class="interior-feature">
                    <strong class="feature-title">Energy</strong>
                    <span class="feature-description">Real time energy consumption and range estimation</span>
                </li>
                <li class="interior-feature">
                    <strong class="feature-title">Phone</strong>
                    <span class="feature-description">Bluetooth-enabled, voice controlled handsfree phone system</span>
                </li>
            </ul>
            <p>Model&nbsp;S periodically receives over the air software updates that add new features and refresh the touchscreen look and feel.</p>
        </div>
    </div>
</section>
<cars-footer class="bottom"></cars-footer>
