<footer>
    <div id="footer">
        <p class="colophon">
            <a class="footer-link" href="#">Tesla Motors &copy; 2016
            </a>
            <a class="footer-link" href="#">Privacy & Legal</a>
            <a class="footer-link" href="#">Contact</a>
            <a class="footer-link" href="#">Careers</a>
            <a class="footer-link" href="#">Forums</a>
            <a class="footer-link" href="#">Locations</a>
            <span class="footer-link last" href="#">
                <img id="flag" src="./assets/img/flag-us.svg" alt="US Flag"/>
            </span>
        </p>
    </div>
</footer>
